[submodule "polkadot-sdk-solochain-template"]
	path = polkadot-sdk-solochain-template
	url = git@github.com:paritytech/polkadot-sdk-solochain-template.git
[submodule "polkadot-sdk-parachain-template"]
	path = polkadot-sdk-parachain-template
	url = git@github.com:paritytech/polkadot-sdk-parachain-template.git
